@font-face {
  font-family: "StyreneAWebRegular";
  src: url("../fonts/StyreneAWebRegular/StyreneAWebRegular.eot");
  src: url("../fonts/StyreneAWebRegular/StyreneAWebRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/StyreneAWebRegular/StyreneAWebRegular.woff") format("woff"),
  url("../fonts/StyreneAWebRegular/StyreneAWebRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "StyreneAWebMedium";
  src: url("../fonts/StyreneAWebMedium/StyreneAWebMedium.eot");
  src: url("../fonts/StyreneAWebMedium/StyreneAWebMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/StyreneAWebMedium/StyreneAWebMedium.woff") format("woff"),
  url("../fonts/StyreneAWebMedium/StyreneAWebMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "StyreneAWebBold";
  src: url("../fonts/StyreneAWebBold/StyreneAWebBold.eot");
  src: url("../fonts/StyreneAWebBold/StyreneAWebBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/StyreneAWebBold/StyreneAWebBold.woff") format("woff"),
  url("../fonts/StyreneAWebBold/StyreneAWebBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}